@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom css */
body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: rgb(247, 247, 247);
  color: rgba(0, 0, 0, 0.9);
  /* overflow-y: auto; */
}
